.nav {
  padding: 1.5rem 4.5rem 1rem 4.5rem;
  display: flex;
}

.nav__logo {
  font-weight: 800;
  margin-right: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__links {
  font-size: 0.9rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__left {
  position: relative;
}

.nav__dropdownCont {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 5.5rem;
  cursor: pointer;
}

.nav__dropdownArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav__right {
  display: flex;
  align-items: center;
}
