.grid {
  display: flex;
  align-items: center;
}

.img {
  width: 3rem;
  margin-right: 1rem;
}

.btn__home {
  background-color: #0c0d0f;
  color: #fff;
  width: 10rem;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 0.3rem;
  margin: 1rem 0;
  outline: none;
  cursor: pointer;
}

.btns {
  background-color: #0c0d0f;
  color: #fff;
  width: 100%;
  padding: 0.7rem 2rem;
  border: none;
  border-radius: 0.3rem;
  margin: 0.5rem 0;
  outline: none;
  cursor: pointer;
}

.btns:disabled {
  background: #ffffff14;
  color: rgb(184 184 184 / 12%);
  cursor: not-allowed;
}

.checkout__grid {
  padding: 1.5rem 2rem;
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 1rem;
}

.checkout__form {
  width: 80%;
}

.err {
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.checkout__input input {
  background-color: rgba(105, 105, 105, 0.3);
  color: rgba(255, 255, 255, 0.842);
  width: 100%;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 0.2rem;
  margin-bottom: 0.5rem;
  outline: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkout__input input::placeholder {
  color: rgba(255, 255, 255, 0.911);
  transition: color 0.3s ease;
}

.checkout__input input:focus::placeholder {
  color: transparent;
}

.checkout__glass {
  background: linear-gradient(
    to right bottom,
    rgba(105, 105, 105, 0.1),
    rgba(105, 105, 105, 0.3)
  );
  backdrop-filter: blur(20px);
  width: 80%;
  padding: 2rem;
  border-radius: 0.2rem;
  cursor: pointer;
  box-shadow: 0 3.4px 2.7px rgba(0, 0, 0, 0.022),
    0 8.7px 6.9px rgba(0, 0, 0, 0.031), 0 17.7px 14.2px rgba(0, 0, 0, 0.039),
    0 36.5px 29.2px rgba(0, 0, 0, 0.048), 0 100px 80px rgba(0, 0, 0, 0.07);
}

.checkout__billingCont {
  margin-bottom: 1rem;
}

.checkout__billingInfo {
  padding: 0.7rem 0.7rem;
}

.checkout__total {
  font-size: 2.5rem;
  font-weight: 700;
}
