.nav {
    background: #1A1C21;
    color: #fff;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
  }
  
  .nav__logo {
    font-size: 1.5rem;
    font-weight: bold;;
  }
  
  .nav__navbar {
    width: 100%;
    margin: 0 0 0 1rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar__userItems {
    display: flex;
    align-items: center;
  }
  
  .navbar__userItems li {
    padding: 0 0 0 1rem;
  }

  .navbar__userItems li div{
    padding: .2rem;
    border-radius: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in;
  }

  .navbar__userItems li div:hover {
    background: #2F3035;
  }
  