.course__container {
  /* background-color: #2f3035; */
  background-color: #1a1c21;
  padding: 1rem;
  border-radius: 0.2rem;
}

.course__imgCont {
  background-color: #1a1c21;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course__img {
  height: 5rem;
}

.course__desc {
  /* font-size: 1rem; */
}

.course__btn {
  background-color: #2f3035;
  color: #fff;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.2em;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.course__btn:hover {
  transform: scale(1.1);
}
