.details__grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.details__imgCont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details__img {
  width: 23rem;
}

.details__infoCont {
  margin-right: 5rem;
}

.details__title {
  margin-bottom: 1rem;
}

.details__price {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.details__description {
  margin-bottom: 1rem;
}

.btn__buy {
  background-color: transparent;
  color: #fff;
  padding: 0.5rem 2rem;
  border: 1px solid #fff;
  border-radius: 0.3rem;
  margin: 0.5rem 0;
  outline: none;
  cursor: pointer;
}
